nodered/bulk_flow.txt
[{"id":"70ebf30d.91f66c","type":"split","z":"5a86490d.94ba48","name":"","splt":"\\n","x":87.77776082356763,"y":155.4444851345486,"wires":[["aab6f1f.b2c379"]]},{"id":"aab6f1f.b2c379","type":"json","z":"5a86490d.94ba48","name":"","x":86.77776082356763,"y":238.4444851345486,"wires":[["e4da290d.63fc9"]]},{"id":"40c6a0e3.53c468","type":"inject","z":"5a86490d.94ba48","name":"","topic":"","payload":"{\"d\":[{\"d\":[{\"R\":58},{\"G\":10},{\"B\":53}]},{\"d\":[{\"R\":93},{\"G\":13},{\"B\":53}]},{\"d\":[{\"R\":17},{\"G\":65},{\"B\":18}]},{\"d\":[{\"R\":79},{\"G\":97},{\"B\":25}]},{\"d\":[{\"R\":22},{\"G\":63},{\"B\":34}]},{\"d\":[{\"R\":90},{\"G\":55},{\"B\":8}]},{\"d\":[{\"R\":73},{\"G\":0},{\"B\":58}]},{\"d\":[{\"R\":54},{\"G\":34},{\"B\":89}]},{\"d\":[{\"R\":60},{\"G\":0},{\"B\":88}]},{\"d\":[{\"R\":84},{\"G\":39},{\"B\":65}]},{\"d\":[{\"R\":16},{\"G\":35},{\"B\":87}]},{\"d\":[{\"R\":63},{\"G\":25},{\"B\":41}]},{\"d\":[{\"R\":50},{\"G\":34},{\"B\":72}]},{\"d\":[{\"R\":91},{\"G\":44},{\"B\":34}]},{\"d\":[{\"R\":28},{\"G\":52},{\"B\":96}]},{\"d\":[{\"R\":99},{\"G\":32},{\"B\":85}]},{\"d\":[{\"R\":66},{\"G\":55},{\"B\":53}]},{\"d\":[{\"R\":71},{\"G\":41},{\"B\":11}]},{\"d\":[{\"R\":9},{\"G\":68},{\"B\":19}]},{\"d\":[{\"R\":2},{\"G\":96},{\"B\":30}]},{\"d\":[{\"R\":52},{\"G\":48},{\"B\":38}]},{\"d\":[{\"R\":35},{\"G\":22},{\"B\":95}]},{\"d\":[{\"R\":7},{\"G\":91},{\"B\":54}]},{\"d\":[{\"R\":21},{\"G\":27},{\"B\":62}]},{\"d\":[{\"R\":40},{\"G\":80},{\"B\":31}]},{\"d\":[{\"R\":53},{\"G\":97},{\"B\":52}]},{\"d\":[{\"R\":3},{\"G\":22},{\"B\":89}]},{\"d\":[{\"R\":50},{\"G\":93},{\"B\":1}]},{\"d\":[{\"R\":9},{\"G\":74},{\"B\":98}]},{\"d\":[{\"R\":25},{\"G\":44},{\"B\":23}]},{\"d\":[{\"R\":35},{\"G\":78},{\"B\":76}]},{\"d\":[{\"R\":33},{\"G\":71},{\"B\":46}]},{\"d\":[{\"R\":59},{\"G\":80},{\"B\":12}]},{\"d\":[{\"R\":24},{\"G\":67},{\"B\":24}]},{\"d\":[{\"R\":81},{\"G\":73},{\"B\":68}]},{\"d\":[{\"R\":64},{\"G\":17},{\"B\":0}]},{\"d\":[{\"R\":43},{\"G\":36},{\"B\":46}]},{\"d\":[{\"R\":80},{\"G\":16},{\"B\":36}]},{\"d\":[{\"R\":56},{\"G\":15},{\"B\":51}]},{\"d\":[{\"R\":0},{\"G\":43},{\"B\":3}]},{\"d\":[{\"R\":73},{\"G\":12},{\"B\":61}]},{\"d\":[{\"R\":69},{\"G\":39},{\"B\":54}]},{\"d\":[{\"R\":64},{\"G\":76},{\"B\":78}]},{\"d\":[{\"R\":87},{\"G\":63},{\"B\":16}]},{\"d\":[{\"R\":84},{\"G\":33},{\"B\":45}]},{\"d\":[{\"R\":52},{\"G\":87},{\"B\":15}]},{\"d\":[{\"R\":35},{\"G\":48},{\"B\":62}]},{\"d\":[{\"R\":93},{\"G\":4},{\"B\":94}]},{\"d\":[{\"R\":92},{\"G\":77},{\"B\":4}]},{\"d\":[{\"R\":81},{\"G\":70},{\"B\":77}]},{\"d\":[{\"R\":96},{\"G\":80},{\"B\":82}]},{\"d\":[{\"R\":83},{\"G\":15},{\"B\":58}]},{\"d\":[{\"R\":51},{\"G\":36},{\"B\":0}]},{\"d\":[{\"R\":50},{\"G\":60},{\"B\":26}]},{\"d\":[{\"R\":5},{\"G\":18},{\"B\":87}]},{\"d\":[{\"R\":26},{\"G\":52},{\"B\":65}]},{\"d\":[{\"R\":73},{\"G\":53},{\"B\":77}]},{\"d\":[{\"R\":30},{\"G\":54},{\"B\":42}]},{\"d\":[{\"R\":72},{\"G\":4},{\"B\":52}]},{\"d\":[{\"R\":19},{\"G\":0},{\"B\":96}]},{\"d\":[{\"R\":32},{\"G\":4},{\"B\":45}]},{\"d\":[{\"R\":25},{\"G\":55},{\"B\":29}]},{\"d\":[{\"R\":68},{\"G\":70},{\"B\":92}]},{\"d\":[{\"R\":89},{\"G\":7},{\"B\":48}]},{\"d\":[{\"R\":62},{\"G\":8},{\"B\":68}]},{\"d\":[{\"R\":23},{\"G\":17},{\"B\":73}]},{\"d\":[{\"R\":11},{\"G\":6},{\"B\":37}]},{\"d\":[{\"R\":39},{\"G\":36},{\"B\":9}]},{\"d\":[{\"R\":56},{\"G\":6},{\"B\":69}]},{\"d\":[{\"R\":98},{\"G\":79},{\"B\":21}]},{\"d\":[{\"R\":54},{\"G\":84},{\"B\":22}]},{\"d\":[{\"R\":29},{\"G\":13},{\"B\":29}]},{\"d\":[{\"R\":6},{\"G\":37},{\"B\":4}]},{\"d\":[{\"R\":99},{\"G\":77},{\"B\":15}]},{\"d\":[{\"R\":78},{\"G\":71},{\"B\":75}]},{\"d\":[{\"R\":94},{\"G\":36},{\"B\":95}]},{\"d\":[{\"R\":11},{\"G\":40},{\"B\":80}]},{\"d\":[{\"R\":76},{\"G\":24},{\"B\":85}]},{\"d\":[{\"R\":15},{\"G\":27},{\"B\":15}]},{\"d\":[{\"R\":25},{\"G\":70},{\"B\":74}]},{\"d\":[{\"R\":43},{\"G\":36},{\"B\":31}]},{\"d\":[{\"R\":63},{\"G\":25},{\"B\":72}]},{\"d\":[{\"R\":21},{\"G\":7},{\"B\":22}]},{\"d\":[{\"R\":51},{\"G\":66},{\"B\":19}]},{\"d\":[{\"R\":98},{\"G\":9},{\"B\":59}]},{\"d\":[{\"R\":13},{\"G\":62},{\"B\":13}]},{\"d\":[{\"R\":46},{\"G\":81},{\"B\":36}]},{\"d\":[{\"R\":17},{\"G\":57},{\"B\":25}]},{\"d\":[{\"R\":52},{\"G\":62},{\"B\":46}]},{\"d\":[{\"R\":60},{\"G\":23},{\"B\":31}]},{\"d\":[{\"R\":52},{\"G\":28},{\"B\":60}]},{\"d\":[{\"R\":69},{\"G\":47},{\"B\":41}]},{\"d\":[{\"R\":55},{\"G\":92},{\"B\":71}]},{\"d\":[{\"R\":41},{\"G\":37},{\"B\":41}]},{\"d\":[{\"R\":47},{\"G\":12},{\"B\":13}]},{\"d\":[{\"R\":43},{\"G\":37},{\"B\":52}]},{\"d\":[{\"R\":20},{\"G\":62},{\"B\":14}]},{\"d\":[{\"R\":87},{\"G\":52},{\"B\":35}]},{\"d\":[{\"R\":55},{\"G\":90},{\"B\":73}]},{\"d\":[{\"R\":61},{\"G\":85},{\"B\":14}]},{\"d\":[{\"R\":91},{\"G\":53},{\"B\":15}]},{\"d\":[{\"R\":8},{\"G\":10},{\"B\":33}]},{\"d\":[{\"R\":89},{\"G\":14},{\"B\":63}]},{\"d\":[{\"R\":99},{\"G\":42},{\"B\":4}]},{\"d\":[{\"R\":50},{\"G\":80},{\"B\":45}]},{\"d\":[{\"R\":59},{\"G\":2},{\"B\":19}]},{\"d\":[{\"R\":1},{\"G\":41},{\"B\":93}]},{\"d\":[{\"R\":48},{\"G\":21},{\"B\":9}]},{\"d\":[{\"R\":47},{\"G\":68},{\"B\":35}]},{\"d\":[{\"R\":96},{\"G\":11},{\"B\":12}]},{\"d\":[{\"R\":37},{\"G\":43},{\"B\":70}]},{\"d\":[{\"R\":87},{\"G\":62},{\"B\":16}]},{\"d\":[{\"R\":14},{\"G\":85},{\"B\":22}]},{\"d\":[{\"R\":42},{\"G\":33},{\"B\":65}]},{\"d\":[{\"R\":40},{\"G\":47},{\"B\":50}]},{\"d\":[{\"R\":26},{\"G\":1},{\"B\":70}]},{\"d\":[{\"R\":36},{\"G\":5},{\"B\":69}]},{\"d\":[{\"R\":40},{\"G\":20},{\"B\":35}]},{\"d\":[{\"R\":32},{\"G\":4},{\"B\":77}]},{\"d\":[{\"R\":95},{\"G\":49},{\"B\":81}]},{\"d\":[{\"R\":23},{\"G\":31},{\"B\":69}]},{\"d\":[{\"R\":18},{\"G\":52},{\"B\":73}]},{\"d\":[{\"R\":94},{\"G\":12},{\"B\":40}]},{\"d\":[{\"R\":48},{\"G\":92},{\"B\":92}]},{\"d\":[{\"R\":54},{\"G\":87},{\"B\":2}]},{\"d\":[{\"R\":13},{\"G\":55},{\"B\":69}]},{\"d\":[{\"R\":68},{\"G\":7},{\"B\":54}]},{\"d\":[{\"R\":46},{\"G\":5},{\"B\":89}]},{\"d\":[{\"R\":5},{\"G\":22},{\"B\":77}]},{\"d\":[{\"R\":69},{\"G\":23},{\"B\":13}]},{\"d\":[{\"R\":51},{\"G\":78},{\"B\":7}]},{\"d\":[{\"R\":19},{\"G\":77},{\"B\":38}]},{\"d\":[{\"R\":35},{\"G\":23},{\"B\":53}]},{\"d\":[{\"R\":80},{\"G\":90},{\"B\":57}]},{\"d\":[{\"R\":51},{\"G\":64},{\"B\":67}]},{\"d\":[{\"R\":0},{\"G\":65},{\"B\":78}]},{\"d\":[{\"R\":86},{\"G\":23},{\"B\":57}]},{\"d\":[{\"R\":59},{\"G\":45},{\"B\":32}]},{\"d\":[{\"R\":69},{\"G\":31},{\"B\":91}]},{\"d\":[{\"R\":83},{\"G\":61},{\"B\":53}]},{\"d\":[{\"R\":52},{\"G\":79},{\"B\":72}]},{\"d\":[{\"R\":29},{\"G\":61},{\"B\":10}]},{\"d\":[{\"R\":43},{\"G\":48},{\"B\":56}]},{\"d\":[{\"R\":24},{\"G\":86},{\"B\":60}]},{\"d\":[{\"R\":2},{\"G\":13},{\"B\":81}]},{\"d\":[{\"R\":68},{\"G\":42},{\"B\":18}]},{\"d\":[{\"R\":5},{\"G\":85},{\"B\":8}]},{\"d\":[{\"R\":51},{\"G\":57},{\"B\":94}]},{\"d\":[{\"R\":74},{\"G\":32},{\"B\":55}]},{\"d\":[{\"R\":80},{\"G\":72},{\"B\":95}]},{\"d\":[{\"R\":8},{\"G\":42},{\"B\":62}]},{\"d\":[{\"R\":74},{\"G\":70},{\"B\":74}]},{\"d\":[{\"R\":77},{\"G\":86},{\"B\":64}]},{\"d\":[{\"R\":78},{\"G\":46},{\"B\":18}]},{\"d\":[{\"R\":18},{\"G\":64},{\"B\":49}]},{\"d\":[{\"R\":62},{\"G\":66},{\"B\":73}]},{\"d\":[{\"R\":58},{\"G\":15},{\"B\":83}]},{\"d\":[{\"R\":27},{\"G\":34},{\"B\":27}]},{\"d\":[{\"R\":95},{\"G\":45},{\"B\":59}]},{\"d\":[{\"R\":48},{\"G\":2},{\"B\":1}]},{\"d\":[{\"R\":46},{\"G\":34},{\"B\":53}]},{\"d\":[{\"R\":9},{\"G\":62},{\"B\":34}]},{\"d\":[{\"R\":78},{\"G\":21},{\"B\":55}]},{\"d\":[{\"R\":37},{\"G\":23},{\"B\":16}]},{\"d\":[{\"R\":71},{\"G\":82},{\"B\":49}]},{\"d\":[{\"R\":47},{\"G\":68},{\"B\":2}]},{\"d\":[{\"R\":7},{\"G\":39},{\"B\":45}]},{\"d\":[{\"R\":55},{\"G\":18},{\"B\":71}]},{\"d\":[{\"R\":23},{\"G\":51},{\"B\":97}]},{\"d\":[{\"R\":57},{\"G\":53},{\"B\":46}]},{\"d\":[{\"R\":54},{\"G\":31},{\"B\":26}]},{\"d\":[{\"R\":5},{\"G\":29},{\"B\":85}]},{\"d\":[{\"R\":20},{\"G\":53},{\"B\":12}]},{\"d\":[{\"R\":5},{\"G\":73},{\"B\":0}]},{\"d\":[{\"R\":86},{\"G\":35},{\"B\":21}]},{\"d\":[{\"R\":36},{\"G\":12},{\"B\":28}]},{\"d\":[{\"R\":94},{\"G\":48},{\"B\":45}]},{\"d\":[{\"R\":90},{\"G\":43},{\"B\":49}]},{\"d\":[{\"R\":19},{\"G\":40},{\"B\":9}]},{\"d\":[{\"R\":49},{\"G\":99},{\"B\":87}]},{\"d\":[{\"R\":7},{\"G\":5},{\"B\":99}]},{\"d\":[{\"R\":66},{\"G\":24},{\"B\":19}]},{\"d\":[{\"R\":54},{\"G\":62},{\"B\":93}]},{\"d\":[{\"R\":91},{\"G\":56},{\"B\":68}]},{\"d\":[{\"R\":76},{\"G\":12},{\"B\":21}]},{\"d\":[{\"R\":26},{\"G\":62},{\"B\":88}]},{\"d\":[{\"R\":18},{\"G\":99},{\"B\":50}]},{\"d\":[{\"R\":43},{\"G\":16},{\"B\":94}]},{\"d\":[{\"R\":36},{\"G\":90},{\"B\":30}]},{\"d\":[{\"R\":53},{\"G\":39},{\"B\":29}]},{\"d\":[{\"R\":23},{\"G\":51},{\"B\":80}]},{\"d\":[{\"R\":70},{\"G\":85},{\"B\":66}]},{\"d\":[{\"R\":92},{\"G\":83},{\"B\":94}]},{\"d\":[{\"R\":99},{\"G\":40},{\"B\":39}]},{\"d\":[{\"R\":56},{\"G\":61},{\"B\":94}]},{\"d\":[{\"R\":79},{\"G\":24},{\"B\":91}]},{\"d\":[{\"R\":76},{\"G\":6},{\"B\":91}]},{\"d\":[{\"R\":99},{\"G\":38},{\"B\":22}]},{\"d\":[{\"R\":79},{\"G\":37},{\"B\":86}]},{\"d\":[{\"R\":29},{\"G\":69},{\"B\":80}]}]}","payloadType":"str","repeat":"","crontab":"","once":false,"x":88.7777676052516,"y":69,"wires":[["70ebf30d.91f66c"]]},{"id":"e4da290d.63fc9","type":"split","z":"5a86490d.94ba48","name":"","splt":"\\n","x":77.77776082356763,"y":322.4444851345486,"wires":[["a0160852.28ef5"]]},{"id":"a0160852.28ef5","type":"split","z":"5a86490d.94ba48","name":"","splt":"\\n","x":76.77776082356763,"y":406.4444851345486,"wires":[["d0e9f07b.7d0bf8"]]},{"id":"d0e9f07b.7d0bf8","type":"function","z":"5a86490d.94ba48","name":"set timestamp","func":"var fecha = '2016-10-03';\n\nvar currentdate = new Date();\nvar hora = + currentdate.getHours() + \":\"  \n           + currentdate.getMinutes() + \":\" \n           + currentdate.getSeconds() + \":\"\n           + currentdate.getMilliseconds();\n\nfecha = fecha + \"@\" + hora;\nvar now = new Date(fecha);\n\nmsg.createdDate = now.valueOf();\nmsg.createdShortDate = now.toLocaleDateString();\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":135.4444902208116,"wires":[["486316b.74ad8e8","470ad12.ae981b","4988cd65.d8fe64","dbacd255.a6197"]]},{"id":"486316b.74ad8e8","type":"split","z":"5a86490d.94ba48","name":"get events array","splt":"","x":358.0000101725261,"y":191.4444902208116,"wires":[["dd0c0f31.0b1cc"]]},{"id":"470ad12.ae981b","type":"debug","z":"5a86490d.94ba48","name":"","active":true,"console":"false","complete":"createdDate","x":766.7777608235676,"y":186.4444851345486,"wires":[]},{"id":"4988cd65.d8fe64","type":"debug","z":"5a86490d.94ba48","name":"","active":true,"console":"false","complete":"createdShortDate","x":777.7777608235676,"y":221.4444851345486,"wires":[]},{"id":"dbacd255.a6197","type":"cloudant out","z":"5a86490d.94ba48","name":"","cloudant":"","database":"luisri_data_colors","service":"IoT Data","payonly":false,"operation":"insert","x":766.7777608235676,"y":139.4444851345486,"wires":[]},{"id":"dd0c0f31.0b1cc","type":"split","z":"5a86490d.94ba48","name":"split events","splt":"","x":348.0000101725261,"y":251.4444902208116,"wires":[["71346b22.262f14"]]},{"id":"71346b22.262f14","type":"json","z":"5a86490d.94ba48","name":"","x":326,"y":323.4444902208116,"wires":[["a8c281f3.e3f3d8"]]},{"id":"a8c281f3.e3f3d8","type":"switch","z":"5a86490d.94ba48","name":"Check event type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"R\"","vt":"str"},{"t":"cont","v":"\"G\"","vt":"str"},{"t":"cont","v":"\"B\"","vt":"str"}],"checkall":"true","outputs":3,"x":366,"y":383.4444902208116,"wires":[["b00a6d30.6c9f88"],["ba202e10.3d6418"],["f4dfab4d.56c5f"]]},{"id":"b00a6d30.6c9f88","type":"json","z":"5a86490d.94ba48","name":"","x":546,"y":343.4444902208116,"wires":[["25db0af2.a8e51e","952e32b8.a92178"]]},{"id":"ba202e10.3d6418","type":"json","z":"5a86490d.94ba48","name":"","x":546,"y":383.4444902208116,"wires":[["e6aa0a8b.9fbd9","a264f8f3.95ce"]]},{"id":"f4dfab4d.56c5f","type":"json","z":"5a86490d.94ba48","name":"","x":546,"y":423.44449022081153,"wires":[["83c7c5e1.39e398","5b9b0195.8a8de8"]]},{"id":"25db0af2.a8e51e","type":"debug","z":"5a86490d.94ba48","name":"display","active":true,"console":"false","complete":"payload","x":556,"y":483.44449022081153,"wires":[]},{"id":"952e32b8.a92178","type":"cloudant out","z":"5a86490d.94ba48","name":"","cloudant":"","database":"luisri_data_red","service":"IoT Data","payonly":false,"operation":"insert","x":756,"y":343.4444902208116,"wires":[]},{"id":"e6aa0a8b.9fbd9","type":"debug","z":"5a86490d.94ba48","name":"display","active":true,"console":"false","complete":"payload","x":556,"y":523.4444902208115,"wires":[]},{"id":"a264f8f3.95ce","type":"cloudant out","z":"5a86490d.94ba48","name":"","cloudant":"","database":"luisri_data_green","service":"IoT Data","payonly":false,"operation":"insert","x":766,"y":383.4444902208116,"wires":[]},{"id":"83c7c5e1.39e398","type":"debug","z":"5a86490d.94ba48","name":"display","active":true,"console":"false","complete":"payload","x":556,"y":563.4444902208115,"wires":[]},{"id":"5b9b0195.8a8de8","type":"cloudant out","z":"5a86490d.94ba48","name":"","cloudant":"","database":"luisri_data_blue","service":"IoT Data","payonly":false,"operation":"insert","x":756,"y":423.44449022081153,"wires":[]}]