nodered/commands_flow.txt
[{"id":"d9be5aff.214d1","type":"change","z":"941a66d7.6435a","name":"get text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":328,"y":63,"wires":[["9102b8d3.11b7","1e91ae36.e66b2a"]]},{"id":"9102b8d3.11b7","type":"watson-natural-language-classifier","z":"941a66d7.6435a","name":"Watson NLC","mode":"classify","language":"en","classifier":"340008x87-nlc-6686","x":338,"y":123,"wires":[["5e51465f.a1028","6314d945.57c258"]]},{"id":"1e91ae36.e66b2a","type":"debug","z":"941a66d7.6435a","name":"display","active":false,"console":"false","complete":"payload","x":608,"y":63,"wires":[]},{"id":"edc23ef1.d4e84","type":"http in","z":"941a66d7.6435a","name":"","url":"/voicecommand","method":"get","swaggerDoc":"","x":128,"y":63,"wires":[["d9be5aff.214d1"]]},{"id":"5e51465f.a1028","type":"function","z":"941a66d7.6435a","name":"build command","func":"msg.payload=\"{\\\"command\\\":\\\"\" + msg.payload.top_class +\"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":183,"wires":[["54984561.621f24","d2c1d041.a98278"]]},{"id":"6314d945.57c258","type":"debug","z":"941a66d7.6435a","name":"display","active":false,"console":"false","complete":"payload","x":608,"y":123,"wires":[]},{"id":"54984561.621f24","type":"debug","z":"941a66d7.6435a","name":"display","active":false,"console":"false","complete":"payload","x":608,"y":183,"wires":[]},{"id":"d2c1d041.a98278","type":"function","z":"941a66d7.6435a","name":"set URL","func":"var url= \"http://luisrinodered.mybluemix.net/voicecommand?\"\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":243,"wires":[["6fe902b1.3a92f4"]]},{"id":"6fe902b1.3a92f4","type":"function","z":"941a66d7.6435a","name":"add CORS auth headers","func":"msg.headers = {\n       'Access-Control-Allow-Origin':\n       'http://luisricardo.mybluemix.net',\n       \n       'Access-Control-Allow-Methods':\n       'POST, GET, DELETE, PUT',\n       \n       'Access-Control-Allow-Headers':\n       'X-Requested-With, Content-Type'\n    };\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":283,"wires":[["f6c123e1.0048b"]]},{"id":"f6c123e1.0048b","type":"json","z":"941a66d7.6435a","name":"","x":598,"y":383,"wires":[["6baa52ce.65271c","59156e0f.1cf6e8"]]},{"id":"beeecb67.027288","type":"function","z":"941a66d7.6435a","name":"set URL","func":"var url= \"http://luisrinodered.mybluemix.net/command?\"\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":483,"wires":[["6d55dd36.96dad4","6fe902b1.3a92f4"]]},{"id":"6baa52ce.65271c","type":"http response","z":"941a66d7.6435a","name":"","x":798,"y":343,"wires":[]},{"id":"59156e0f.1cf6e8","type":"ibmiot out","z":"941a66d7.6435a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"luisri_wifi","deviceType":"ESP8266","eventCommandType":"action","format":"json","data":"{\"data\":\"data\"}","name":"IBM IoT","service":"registered","x":808,"y":423,"wires":[]},{"id":"6d55dd36.96dad4","type":"debug","z":"941a66d7.6435a","name":"display","active":false,"console":"false","complete":"payload","x":608,"y":483,"wires":[]},{"id":"7b4064f3.0bedf4","type":"http in","z":"941a66d7.6435a","name":"","url":"/command","method":"get","swaggerDoc":"","x":108,"y":483,"wires":[["beeecb67.027288"]]}]