nodered/data_get_flow.txt
[{"id":"773b9c27.d48a74","type":"function","z":"e0f54ab1.81c7f","name":"Set query parms","func":"msg.payload = \n{\n    query:\"*:*\",\n    sort:\"-createdDate<number>\",\n    limit:1\n};\n\nreturn msg; ","outputs":1,"noerr":0,"x":205,"y":122,"wires":[["9c011309.55d49"]]},{"id":"9c011309.55d49","type":"cloudant in","z":"e0f54ab1.81c7f","name":"Search Red","cloudant":"","database":"luisri_data_red","service":"IoT Data","search":"_idx_","design":"createdDate","index":"createdDate","x":385,"y":122,"wires":[["3606d819.f83dd8"]]},{"id":"55b443e6.f10e2c","type":"http in","z":"e0f54ab1.81c7f","name":"","url":"/datared","method":"get","swaggerDoc":"","x":85,"y":62,"wires":[["773b9c27.d48a74"]]},{"id":"3606d819.f83dd8","type":"split","z":"e0f54ab1.81c7f","name":"","splt":"","x":565,"y":242,"wires":[["cc9a0e25.2e083"]]},{"id":"cc9a0e25.2e083","type":"function","z":"e0f54ab1.81c7f","name":"gather payload","func":"msg.payload=msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":302,"wires":[["e998bcc5.d27748","8038ba5b.f069c8"]]},{"id":"b23ee66f.68d5b8","type":"cloudant in","z":"e0f54ab1.81c7f","name":"Search Green","cloudant":"","database":"luisri_data_green","service":"IoT Data","search":"_idx_","design":"createdDate","index":"createdDate","x":395,"y":242,"wires":[["3606d819.f83dd8"]]},{"id":"f02a9b0f.1ef6a8","type":"cloudant in","z":"e0f54ab1.81c7f","name":"Search Blue","cloudant":"","database":"luisri_data_blue","service":"IoT Data","search":"_idx_","design":"createdDate","index":"createdDate","x":385,"y":362,"wires":[["3606d819.f83dd8"]]},{"id":"e998bcc5.d27748","type":"debug","z":"e0f54ab1.81c7f","name":"display","active":false,"console":"false","complete":"payload","x":855,"y":302,"wires":[]},{"id":"8038ba5b.f069c8","type":"function","z":"e0f54ab1.81c7f","name":"add CORS auth headers","func":"msg.headers = {\n       'Access-Control-Allow-Origin':\n       'http://luisricardo.mybluemix.net',\n       \n       'Access-Control-Allow-Methods':\n       'POST, GET, DELETE, PUT',\n       \n       'Access-Control-Allow-Headers':\n       'X-Requested-With, Content-Type'\n    };\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":382,"wires":[["7b34176f.a6a128"]]},{"id":"31c55465.f29f9c","type":"function","z":"e0f54ab1.81c7f","name":"Set query parms","func":"msg.payload = \n{\n    query:\"*:*\",\n    sort:\"-createdDate<number>\",\n    limit:1\n};\n\nreturn msg; ","outputs":1,"noerr":0,"x":205,"y":242,"wires":[["b23ee66f.68d5b8"]]},{"id":"9e717813.bc3ad8","type":"function","z":"e0f54ab1.81c7f","name":"Set query parms","func":"msg.payload = \n{\n    query:\"*:*\",\n    sort:\"-createdDate<number>\",\n    limit:1\n};\n\nreturn msg; ","outputs":1,"noerr":0,"x":205,"y":362,"wires":[["f02a9b0f.1ef6a8"]]},{"id":"7b34176f.a6a128","type":"http response","z":"e0f54ab1.81c7f","name":"","x":645,"y":462,"wires":[]},{"id":"e2db7228.0a229","type":"http in","z":"e0f54ab1.81c7f","name":"","url":"/datagreen","method":"get","swaggerDoc":"","x":89.4444580078125,"y":182,"wires":[["31c55465.f29f9c"]]},{"id":"30a55914.608b8e","type":"http in","z":"e0f54ab1.81c7f","name":"","url":"/datablue","method":"get","swaggerDoc":"","x":75,"y":302,"wires":[["9e717813.bc3ad8"]]}]