nodered/events_flow.txt
[{"id":"50ff7626.979d18","type":"ibmiot in","z":"5439e066.60f2","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"luisri_wifi","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":279,"y":44,"wires":[["22721c2.4c5d1e4"]]},{"id":"22721c2.4c5d1e4","type":"function","z":"5439e066.60f2","name":"set timestamp","func":"\nvar now = new Date();\nmsg.createdDate = now.valueOf();\nmsg.createdShortDate = now.toLocaleDateString();\nreturn msg;","outputs":1,"noerr":0,"x":280.0000305175781,"y":137,"wires":[["a8837054.c3353","84e121a5.a7bcd"]]},{"id":"a8837054.c3353","type":"cloudant out","z":"5439e066.60f2","name":"","cloudant":"","database":"luisri_data_colors","service":"IoT Data","payonly":false,"operation":"insert","x":686.6666836208765,"y":137.33331892225482,"wires":[]},{"id":"84e121a5.a7bcd","type":"split","z":"5439e066.60f2","name":"get events array","splt":"","x":279,"y":200,"wires":[["fe959f31.6191e8"]]},{"id":"b2292e97.8a743","type":"json","z":"5439e066.60f2","name":"","x":86.77777099609375,"y":137,"wires":[["22721c2.4c5d1e4"]]},{"id":"fe959f31.6191e8","type":"split","z":"5439e066.60f2","name":"split events","splt":"","x":268.00000339084215,"y":262.99999406602643,"wires":[["9b10a765.4ca67"]]},{"id":"3648339.44fe4cc","type":"inject","z":"5439e066.60f2","name":"","topic":"","payload":"{\"d\":[{\"R\":23},{\"G\":65},{\"B\":46}]}","payloadType":"str","repeat":"","crontab":"","once":false,"x":88.77777099609375,"y":44.555511474609375,"wires":[["b2292e97.8a743"]]},{"id":"9b10a765.4ca67","type":"json","z":"5439e066.60f2","name":"","x":247.00000339084215,"y":324.0000016954209,"wires":[["332372ee.f76d36"]]},{"id":"332372ee.f76d36","type":"switch","z":"5439e066.60f2","name":"Check event type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"R\"","vt":"str"},{"t":"cont","v":"\"G\"","vt":"str"},{"t":"cont","v":"\"B\"","vt":"str"}],"checkall":"true","outputs":3,"x":287.00000339084215,"y":384.0000016954209,"wires":[["c960704c.e155f"],["20f610f8.a4fd7"],["7519b6a3.4e6008"]]},{"id":"c960704c.e155f","type":"json","z":"5439e066.60f2","name":"","x":467.00000339084227,"y":344.0000016954209,"wires":[["f0d6c6cb.a6eb98","49d73b55.a12594","ded1a1d5.a9cb78"]]},{"id":"20f610f8.a4fd7","type":"json","z":"5439e066.60f2","name":"","x":467.00000339084227,"y":384.0000016954209,"wires":[["26714b64.8b080c","7b682253.45857c","a578304c.b7af3"]]},{"id":"7519b6a3.4e6008","type":"json","z":"5439e066.60f2","name":"","x":467.00000339084227,"y":424.0000016954209,"wires":[["bf35f8ce.7ab558","72795607.7bddf8"]]},{"id":"f0d6c6cb.a6eb98","type":"cloudant out","z":"5439e066.60f2","name":"","cloudant":"","database":"luisri_data_red","service":"IoT Data","payonly":false,"operation":"insert","x":677.0000033908423,"y":344.0000016954209,"wires":[]},{"id":"49d73b55.a12594","type":"debug","z":"5439e066.60f2","name":"display","active":false,"console":"false","complete":"payload","x":477.00000339084227,"y":484.0000016954209,"wires":[]},{"id":"ded1a1d5.a9cb78","type":"switch","z":"5439e066.60f2","name":"red < 30","property":"payload.R","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","outputs":1,"x":656.8890719943579,"y":500.2221467759873,"wires":[["5b7269b1.4788c","d8b57c02.cbb14"]]},{"id":"26714b64.8b080c","type":"cloudant out","z":"5439e066.60f2","name":"","cloudant":"","database":"luisri_data_green","service":"IoT Data","payonly":false,"operation":"insert","x":687.0000033908423,"y":384.0000016954209,"wires":[]},{"id":"7b682253.45857c","type":"debug","z":"5439e066.60f2","name":"display","active":false,"console":"false","complete":"payload","x":477.00000339084227,"y":524.0000016954209,"wires":[]},{"id":"a578304c.b7af3","type":"switch","z":"5439e066.60f2","name":"green > 95","property":"payload.G","propertyType":"msg","rules":[{"t":"gte","v":"95","vt":"num"}],"checkall":"true","outputs":1,"x":666.5000339084204,"y":541.6110170152451,"wires":[["5b7269b1.4788c","47a23358.483fe4"]]},{"id":"bf35f8ce.7ab558","type":"cloudant out","z":"5439e066.60f2","name":"","cloudant":"","database":"luisri_data_blue","service":"IoT Data","payonly":false,"operation":"insert","x":677.0000033908423,"y":424.0000016954209,"wires":[]},{"id":"72795607.7bddf8","type":"debug","z":"5439e066.60f2","name":"display","active":false,"console":"false","complete":"payload","x":477.00000339084227,"y":564.0000016954209,"wires":[]},{"id":"5b7269b1.4788c","type":"debug","z":"5439e066.60f2","name":"display","active":false,"console":"false","complete":"payload","x":655.2777709960938,"y":601.22216796875,"wires":[]},{"id":"d8b57c02.cbb14","type":"twilio out","z":"5439e066.60f2","service":"_ext_","twilio":"f5cd5d33.177b1","from":"","number":"+34619085731","name":"Twilio","x":839,"y":499,"wires":[]},{"id":"47a23358.483fe4","type":"function","z":"5439e066.60f2","name":"set msg","func":"var now = new Date();\nmsg.payload = now.valueOf() + \n  \"    Demasiado verde para Luis Ricardo...\";\nreturn msg;","outputs":1,"noerr":0,"x":832,"y":541,"wires":[["f9359b6a.77e15"]]},{"id":"f9359b6a.77e15","type":"twitter out","z":"5439e066.60f2","twitter":"","name":"twitter","x":840,"y":582,"wires":[]},{"id":"f5cd5d33.177b1","type":"twilio-api","z":"5439e066.60f2","sid":"AC5ddc7d2ae162013e6583621fcca8ea1d","from":"+13343848225","name":"SMS"}]